{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('main.index') }}" class="back-button"> Back to scales</a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for weight in weights %}
                {% include 'weights_tb.html' %}
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if pagination.has_prev %}
            <a class='page-number' href="{{ url_for('main.weights', page=pagination.prev_num) }}">
                {{ '<<<' }}
            </a>
        {% endif %}

        {% for number in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if number %}
                {% if pagination.page != number %}
                    <a href="{{ url_for('main.weights', page=number) }}">
                        {{ number }}
                    </a>
                {% else %}
                    <a class='active' href="#">{{ number }}</a>
                {% endif %}
            {% else %}
                <a href="#">...</a>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a class='page-number' href="{{ url_for('main.weights', page=pagination.next_num) }}">
                {{ '>>>' }}
            </a>
        {% endif %}
    </div>
{% endblock %}